

input[type=range] {
  height: 40px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 50px;
}
input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #A6A6A6;
  border-radius: 0px;
  border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #2497E3;
  height: 34px;
  width: 15px;
  border-radius: 50px;
  background: #575757;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -15px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #A6A6A6;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #A6A6A6;
  border-radius: 0px;
  border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #2497E3;
  height: 34px;
  width: 15px;
  border-radius: 50px;
  background: #575757;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #A6A6A6;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-fill-upper {
  background: #A6A6A6;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #2497E3;
  height: 34px;
  width: 15px;
  border-radius: 50px;
  background: #575757;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #A6A6A6;
}

input[type=range]:focus::-ms-fill-upper {
  background: #A6A6A6;
}


.tg  {border-collapse:collapse;border-spacing:0;border: none !important;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:9px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:9px 20px;border-style:solid;border: none !important;;overflow:hidden;word-break:normal;}

